.container__title{
    background-color: transparent;
}
.container__subtitle{
    background-color: transparent;
}
.container__button-link{
    text-decoration: none;
    color: white;
}
.container__button-back{
    background-color: rgb(13, 7, 59);
}
@media (max-width: 768px) {
    .container__title, .container__subtitle {
        font-size:0.8rem ;
    }
}