.gallery__mars{
    justify-items: center;
    align-items: center;
}
.gallery__mars__section-gallery{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "alien gallery";
    justify-items: center;
    padding: 1rem;
    z-index: 10;
}
.gallery__mars-title{
    padding: 1rem;
    text-align:center;
}

.gallery__mars-img{
    grid-area: alien;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.gallery__mars-img-alien{
    min-width: 55%;
    max-width: 65%;
}
.gallery__mars-gallery{
    grid-area: gallery;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(240, 248, 255, 0.537);
}
.cardData__img{
    max-width: 100px;
}



@media (max-width:768px) {
    .gallery__mars__section-gallery{
        flex-direction: column;
        align-items: center;
    }
    .gallery__mars-title{
        width: 60vw ;
    }
}
@media (min-width:768px)and(max-width:1024px){
    .gallery__mars-title{
        width: 40vw ;
    }
}
@media (min-width:1024px){
    .gallery__mars-title{
        width: 40vw ;
    }
}