.gallery__exoplanets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title gallery";
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.gallery__exoplanets-title {
    grid-area: title;
}

.gallery__exoplanets__section-gallery {
    grid-area: gallery;
}

.gallery__exoplanets-gallery {
    border-radius: 1rem;
    background-color: rgba(240, 248, 255, 0.537);
    padding: 1rem;
}

@media (max-width: 768px) {
    .gallery__exoplanets {
        display: flex;
        flex-direction: column;
        height: auto; 
    }
    
    .gallery__exoplanets-title {
        width: 80vw; 
        text-align: center; 
    }

    .gallery__exoplanets__section-gallery {
        flex-direction: column;
        align-items: center;
        width: 100%; 
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .gallery__exoplanets-title {
        width: 60vw; 
        text-align: center;
    }

    .gallery__exoplanets__section-gallery {
        display: flex;
        justify-content: center; 
    }
}


@media (min-width: 1024px) {
    .gallery__exoplanets {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "title gallery";
    }

    .gallery__exoplanets-title {
        width: 40vw; 
        text-align: left; 
    }

    .gallery__exoplanets__section-gallery {
        display: flex;
        justify-content: center; 
    }
}
