
.page__mars{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-items: center;
    align-items: center;
    background-color: rgba(86, 84, 84, 0.094);
    height: 100vh;
}
.page__mars-background{
    position: absolute;
    z-index: -1;
    height: 100vh;
}
.page__mars-background-img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.page__mars-title, .page__mars-subtitle{
    padding: 1.5rem;
}
.page_mars-images{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    z-index: 2;
    
}
.page_mars-images-peace, .page_mars-images-atronaut{
    width: 10em;
}
.page_mars-images-peace{
    animation: moveAlien1 5s linear infinite; 
}
.page_mars-images-atronaut{
    animation: moveAlien2 5s linear infinite;
}

@keyframes moveAlien1 {
    0% {transform: translateX(-38vw);
    }
    25%{transform: translateX(0);
    }
    50%{transform: translateX(38vw);
    }
    100%{transform: translateX(-38vw);}
}
@keyframes moveAlien2 {
    0% {transform: translateX(38vw);
    }
    25%{transform: translateX(0);
    }
    50%{transform: translateX(-38vw);
    }
    100%{transform: translateX(38vw);}
}

@media (max-width:768px) {
    .page__mars-title, .page__mars-subtitle{
        width: 60vw ;
    }
}
@media (min-width:768px)and(max-width:1024px){
    .page__mars-title, .page__mars-subtitle{
        width: 40vw ;
    }
}
@media (min-width:1024px){
    .page__mars-title, .page__mars-subtitle{
        width: 40vw ;
    }
}
